In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

### Which machine learning model is sensitive to outliers

1. NAive bayes classifier------ Not sensitive
2. svm--------- Not sensitive
3. Linear regression----- Sensitive
4. Logistic regression---------- Sensitive
5. Desicion tree regression or classifier--------- Not sensitive
6. Ensemble(RF,XGboost,GB)------------- Not sensitive
7. KNN---------- Not sensitive
8. K means----------- Sensitive
9. Hierarical--------- Sensitive
10. PCA---------- Sensitive
11. Neural networks------------- Sensitive

In [2]:
df=pd.read_csv('kashti.csv')

In [3]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
df['Age'].isnull().sum()

86

In [9]:
upper_boundary=df['Age'].mean() + 3*df['Age'].std()
lower_boundary=df['Age'].mean() - 3*df['Age'].std()
print(upper_boundary,lower_boundary,df['Age'].mean())

72.81621806831905 -12.271037345427484 30.272590361445783

In [11]:
#Iqr calculation
iqr=df.Age.quantile(0.75)-df.Age.quantile(0.25)
iqr

18.0

In [ ]:
lower_bridge=df['Age'].quantile(0.25)-